body {
    margin-left: 60px;
    margin-right: 60px;
  }

.navigation li{
    list-style-type: none;
    display: inline-block;
    margin-right: 23px;
}

.number {
    float: right;
}

.info li{
    list-style-type: none;
    display: inline-block;
    margin-right: 72px;
}

.classic div {
    float: right;
}

.mousse{
    position: absolute;
    top: 285px;
    left: 450px;
}

.wedding{
    position: absolute;
    top: 455px;
    left: 450px;
}

.male{
    position: absolute;
    top: 645px;
}

.female{
    position: absolute;
    top: 820px;
}

.child{
    position: absolute;
    top: 645px;
    left: 350px;
}

.ourCakes{
    margin-bottom: 400px;
}

.description li{
    list-style-type: none;
}

.plus li{
    list-style-type: none;
    margin-left: 853px;
}

.footer .logo{
    float: left;
}